#container {
  width: 1000px;
  height: 500px;
}

#cy {
  width: 1000px;
  height: 800px;
  border: solid 1px black;
  display: block;
  float: left;
  margin: 0px;
}
#textbox {
  height: 50%;
  vertical-align: top;
}

span.block {
  display: block;
}
#bod {
  font-family: 'Spicy Rice', cursive;
  font-size: 5px;
}
