<!--<button id="addNode" (click)="addNode()" >addNode</button>-->

<form>
  searchTerm:
  <input
    id="searchTerm"
    type="text"
    [(ngModel)]="searchTerm"
    [ngModelOptions]="{ standalone: true }"
  /><br />

  klxname:
  <input
    id="klxname"
    type="text"
    [(ngModel)]="klxname"
    [ngModelOptions]="{ standalone: true }"
  /><br />
</form>
<button id="search" (click)="redraw()">search</button>
<button id="rename" (click)="rename()">rename</button>
<button id="addchild" (click)="addchild()">addchild</button>
<button id="removeNode" (click)="removeNode()">removeNode</button>
<button id="addweight" (click)="addweight()">addweight</button>
<button id="reduceweight" (click)="reduceweight()">reduceweight</button>

<div id="container">
  <div id="cy" (click)="evtListener()"></div>
</div>
