#container {
  width: 1600px;
  height: 500px;
}

#cy {
  width: 800px;
  height: 800px;
  border: solid 1px black;
  display: block;
  float: left;
  margin: 0px;
}
#textbox {
  height: 50%;
  vertical-align: top;
}

span.block {
  display: block;
}
