<form class="bod">
  Search:
  <input
    id="scratchPad"
    name="scratchPad"
    type="text"
    (input)="search()"
    [(ngModel)]="scratchPad"
  />
  Description:
  <input
    id="desc"
    name="desc"
    type="text"
    [(ngModel)]="desc"
    (input)="adjustDesc()"
  />
  <br />
</form>
<table>
  <tr>
    <td valign="top">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Choose File
      </button>

      <input
        style="display:none"
        (change)="onFileSelected()"
        #fileInput
        type="file"
        id="file"
      />

      <button
        [disabled]="numSelected != 1"
        mat-raised-button
        (click)="openDialog('rename')"
      >
        Rename
      </button>
      <button mat-raised-button (click)="openDialog('addroot')">
        Add Root
      </button>
      <button
        [disabled]="numSelected != 1"
        mat-raised-button
        (click)="openDialog('addchild')"
      >
        Add Child
      </button>

      <button
        mat-raised-button
        id="removeNode"
        [disabled]="numSelected != 1"
        (click)="removeNode()"
      >
        removeNode
      </button>
      <button
        mat-raised-button
        id="addweight"
        [disabled]="numSelected == 0"
        (click)="adjustweight(1)"
      >
        addweight
      </button>
      <button
        mat-raised-button
        id="reduceweight"
        [disabled]="numSelected == 0"
        (click)="adjustweight(-1)"
      >
        reduceweight
      </button>

      <button mat-raised-button id="save" (click)="save()">save</button>

      <div id="container">
        <div id="cy" (click)="evtListener()"></div>
      </div>

      Listing: <span>{{ listing }}</span>
    </td>

    <td valign="top">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Topic</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}&nbsp;</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }} &nbsp;</td>
        </ng-container>

        <ng-container matColumnDef="gap">
          <th mat-header-cell *matHeaderCellDef>Gap</th>
          <td mat-cell *matCellDef="let element">
            {{ element.gap }}&nbsp;
            <span (click)="adjustFromId(element.id, 1)"> + &nbsp;</span>
            <span (click)="adjustFromId(element.id, -1)"> - &nbsp;</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </td>
  </tr>
</table>

SelectedId
<span>{{ selectedId }}</span
>&nbsp;&nbsp; NumSelected &nbsp;<span>{{ numSelected }}</span
>+ CY Json
{{ cy.elements('node').data('name') }}
